<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu sieci Web. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e3bede25-226b-44ed-8032-b43cb00260d6/resourcegroups/aaaa/providers/Microsoft.Web/sites/odkryjPomiarDB</ResourceId>
    <ResourceGroup>aaaa</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://odkryjpomiardb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>odkryjpomiardb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>odkryjPomiarDB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$odkryjPomiarDB</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:demopomiardb.database.windows.net,1433;Initial Catalog=OdkryjDB;Persist Security Info=False;User ID=admindb@demopomiardb;Password=Haslomaslo1);Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:demopomiardb.database.windows.net,1433;Initial Catalog=OdkryjDB;Persist Security Info=False;User Id=admindb@demopomiardb;Password=Haslomaslo1);MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebPomiar.DAL.ApplicationDbContext, WebPomiar" MigrationConfiguration="WebPomiar.Migrations.Configuration, WebPomiar" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:demopomiardb.database.windows.net,1433;Initial Catalog=OdkryjDB;Persist Security Info=False;User Id=admindb@demopomiardb;Password=Haslomaslo1);MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>